<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<body>
	<ui:composition>
		<div>
			<p:panelGrid columns="2">
				<img alt="Logo"/>
				<h1>Leave Request</h1>
				<p>Welcome <a>#{data.fullname}</a> - <a >Logout</a></p>
			</p:panelGrid>
		</div>
	</ui:composition>
</body>
</html>