<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="header">
			<ic:ch.fintech.component.HeaderComponent startMethod="start" />
		</ui:define>
		
		<ui:define name="title">Send a Leave Request</ui:define>
		<ui:define name="content">
			<h:form id="form">
				<h3>Fulfill information to send leave request</h3>
				<br/>
				
				<ic:ch.fintech.component.LeaveRequestComponent startMethod="start" leaveRequestInformation="#{data.leaveRequestInformation}" isSendingLeaveRequest="true" />
				<br />
				
				<p:commandButton actionListener="#{logic.close}" value="Submit" update="form" icon="ui-icon-check" />
			</h:form>
		</ui:define>
		
		<ui:define name="footer">
		</ui:define>
	</ui:composition>
</h:body>
</html>