<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Login to Portal</ui:define>
		<ui:define name="header"></ui:define>
		<ui:define name="content">
			<h3>Welcome to Portal</h3>
			
			<h:form id="form">
				<h:panelGrid columns="2">
					<p:outputLabel for="accountUsername" value="Username"/>
					<p:inputText id="accountUsername" value="#{data.username}" required="true" requiredMessage="#{ivy.cms.co('/Project/ThisFieldIsRequired')}">
					</p:inputText>
					<br />
					<h:message for="accountUsername"/>
					
					<p:outputLabel for="accountPassword" value="Password"/>
					<p:password id="accountPassword" value="#{data.password}" required="true" requiredMessage="#{ivy.cms.co('/Project/ThisFieldIsRequired')}"></p:password>
					<br />
					<h:message for="accountPassword"/>
					
					<br />
					<p:commandButton actionListener="#{logic.close}" value="Login" update="form" icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>