<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">

<cc:interface componentType="IvyComponent">
</cc:interface>

<cc:implementation>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<img alt="Logo"/>
				<h1>Leave Request</h1>
			</div>
			
			<div class="col-md-3">
				<h:form id="headerForm">
					<p>Welcome #{data.fullname} - <p:commandLink actionListener="#{logic.logout}" update="headerForm" value="Logout" /></p>
				</h:form>
			</div>
		</div>
	</div>
	<hr />
</cc:implementation>
</html>