<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">

<cc:interface componentType="IvyComponent">
	<cc:attribute name="isSendingLeaveRequest"></cc:attribute>
</cc:interface>

<cc:implementation>
	<h4>Employee Information</h4>
	<h:panelGrid columns="2">
		<p:outputLabel>Fullname:</p:outputLabel>
		<p:outputLabel>#{data.leaveRequestInformation.fullname}</p:outputLabel>
		
		<p:outputLabel>Email:</p:outputLabel>
		<p:outputLabel>#{data.leaveRequestInformation.email}</p:outputLabel>
	</h:panelGrid>
	<br/>
	
	<h4>Leave Request</h4>
	<h:panelGrid columns="2">
		<p:outputLabel>Start date:</p:outputLabel>
		<p:calendar id="startDate" pattern="dd/MM/yyyy" required="true" value="#{data.leaveRequestInformation.startDate}" requiredMessage="#{ivy.cms.co('/Project/ThisFieldIsRequired')}" disabled="#{!cc.attributes.isSendingLeaveRequest}" >
			<f:convertDateTime pattern="dd/MM/yyyy"/>
			<f:validator for="startDate" validatorId="ch.fintech.validator.FutureDate" />
		</p:calendar>
		<br />
		<h:message for="startDate"/>
		
		<p:outputLabel>End data:</p:outputLabel>
		<p:calendar id="endDate" pattern="dd/MM/yyyy" required="true" value="#{data.leaveRequestInformation.endDate}" requiredMessage="#{ivy.cms.co('/Project/ThisFieldIsRequired')}" disabled="#{!cc.attributes.isSendingLeaveRequest}" >
			<f:convertDateTime pattern="dd/MM/yyyy"/>
		</p:calendar>
		<br />
		<h:message for="endDate"/>
		
		<p:outputLabel>Type:</p:outputLabel>
		<p:selectOneRadio id="type" layout="grid" columns="1" required="true" value="#{data.leaveRequestInformation.type}" requiredMessage="#{ivy.cms.co('/Project/ThisFieldIsRequired')}" disabled="#{!cc.attributes.isSendingLeaveRequest}" >
			<f:selectItem itemLabel="Working holidday" itemValue="WORKING_HOLIDAY"/>
			<f:selectItem itemLabel="Marriage" itemValue="MARRIAGE"/>
			<f:selectItem itemLabel="Sickness" itemValue="SICKNESS"/>
			<f:selectItem itemLabel="Maternity Leave" itemValue="MATERNITY_LEAVE"/>
			<f:selectItem itemLabel="Unpaid" itemValue="UNPAID"/>
			<f:selectItem itemLabel="Other" itemValue="OTHER"/>
		</p:selectOneRadio>
		<br />
		<h:message for="type"/>
	</h:panelGrid>
</cc:implementation>
</html>